#intro-blog{
    background-color: #f4f4f3;
    margin-top: 5rem;
}
#title-text{
    font-family: var(--text-fr-family);
    margin: 0;
    padding-top: 3px;
    color:#fff;
    font-size: 20px;
    
}
.intro-toblog{
    margin:48px 24px 15px 24px; 
}
  
#image-banner{width: 90%;
    height: 75vh}
#phone-blog{
    margin-top:1rem;

    color:var(--text-main-color);
    font-size: 18px;
    font-family: var(--text-th-family); 
}
     #phone-blogsub{
    margin-top:2rem;
  
    color:var(--text-sub-color);
    font-size: 16px;
    font-family: firstFont; 
}
#text-blog-intro{
    font-size: 48px;
    font-family: titleFont;
    font-weight: bold;
}
.nav-link{
    font-size: 22px;
    font-family: titleFont;
    font-weight: bold;
    letter-spacing: 0.1em;
     color:var(--text-sec-color);
}
.nav-link:hover{
    font-size: 24px;
    font-family: titleFont;
    font-weight: bold;
    letter-spacing: 0.1em;
     color:var(--text-sec-color);
}
#social-text{
    background-color: var(--text-sec-color);
    padding: 10px 10px 10px 25px;
    color:#fff;
    font-size: 24px;
    font-family: titleFont;
     font-weight: bold;
    letter-spacing: 0.1em;
}
#text-desc{
    
       font-size:16px;
    color:var(--text-main-color);
    font-family:thirdFont;
    margin:0;    
        font-weight: bold;
    letter-spacing: 0.1em;
}
#text-sub{
       font-size:14px;
    color:var(--text-sub-color);
    font-family:titleFont;
    margin:0;  
        font-weight: bold;
    letter-spacing: 0.1em;
}
.text-center{
    padding-bottom: 3rem ;
}
  #title-text{
           font-family: var(--text-fr-family);
    margin: 0;
    padding-top: 3px;
    color:#01A89C;
    font-size: 20px;
     }
#date-text{
      font-size:18px;
    color:var(--text-sub-color);
    font-family:titleFont;
    margin:0;  
        font-weight: bold;
    letter-spacing: 0.1em;
}
#noti-text{
      font-size:18px;
    color:black;
    font-family:thirdFont;
    margin:0;  
        font-weight: bold;
    letter-spacing: 0.1em;
}
#intro-blog-tex{
    padding-top: 4.5rem;
    font-size:38px;
    color:black;
    font-family:thirdFont;
    margin:0;  
        font-weight: bold;
    letter-spacing: 0.1em;
}

@media  only screen and (max-width: 1000px) {
body {

}
.image-iphone{    
background-color: #f4f4f3; 
height:auto;     
width: 100%;
padding:  1rem 0.2rem;
}
}
 @media only screen and (max-width:768px) { 
body {
    width: 100%;
}
#intro-blog{
    background-color: #f4f4f3;
    margin-top: 2rem;
}
#phone-blog{
    margin-top:1rem;

    color:var(--text-main-color);
    font-size: 16px;
    font-family: var(--text-th-family); 
}
     
     #phone-blogsub{
    margin-top:2rem;
  
    color:var(--text-sub-color);
    font-size: 14px;
    font-family: firstFont; 
}
#text-blog-intro{
    font-size: 20px;
    font-family: firstFont;
    font-weight: bold;
}
.nav-link{
    font-size: 14px;
    font-family: titleFont;
    font-weight: bold;
    letter-spacing: 0.1em;
     color:var(--text-sec-color);
    padding: 0.5rem;
}
.nav-link:hover{
    font-size: 14px;
    font-family: titleFont;
    font-weight: bold;
    letter-spacing: 0.1em;
     color:var(--text-sec-color);
}
#social-text{
    background-color: var(--text-sec-color);
    padding: 10px 10px 10px 25px;
    color:#fff;
    font-size: 16px;
    font-family: titleFont;
     font-weight: bold;
    letter-spacing: 0.1em;
}
#text-desc{
    
       font-size:14px;
    color:var(--text-main-color);
    font-family:thirdFont;
    margin:0;    
        font-weight: bold;
    letter-spacing: 0.1em;
}
#text-sub{
       font-size:12px;
    color:var(--text-sub-color);
    font-family:titleFont;
    margin:0;  
        font-weight: bold;
    letter-spacing: 0.1em;
}
.text-center{
    padding-bottom: 1rem ;
}
  #title-text{
           font-family: var(--text-fr-family);
    margin: 0;
    padding-top: 3px;
    color:#01A89C;
    font-size:16px;
     }
#date-text{
      font-size:14px;
    color:var(--text-sub-color);
    font-family:titleFont;
    margin:0;  
        font-weight: bold;
    letter-spacing: 0.1em;
}
#noti-text{
    font-size:14px;
    color:black;
    font-family:thirdFont;
    margin:0;  
    font-weight: bold;
    letter-spacing: 0.1em;
}
#intro-blog-tex{
    text-align: center;
    padding-top:2rem;
    font-size:18px;
    color:black;
    font-family:thirdFont;
    margin:0;  
        font-weight: bold;
    letter-spacing: 0.1em;
}
     .col-12{
         padding:10px;
     }
.intro-toblog{
    margin:40px 12px 7px 12px; 
}
  
}